.btnback{
    background: none;
    height: 27px;
    position: absolute;
    left: 25px;
    top: 45px;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.svgarrowleft{
    width: 30px;
    fill: white;
    transition: transform 0.1s ease-in-out;
    stroke: white;
}

.ajustebtnback{
    position: relative;
}

ul {
    display: inline-table;
    margin-left: 20px;
    border: 2px solid #204b5e;
    padding: 10px;
    border-radius: 8px;
    border-spacing: 50%;
    list-style: none;
}

.loadingdata {
    margin-top: 30px;
}

.semNome{
    margin-left: 85px;
    margin-right: 85px;
    border: 2px solid #204b5e;
    padding: 10px;
    border-radius: 8px;
    border-spacing: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
}

.divLista{
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
}

.divpai{
    margin-top: -25px;
}