.divSelects{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.selectTemp{
    width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
    border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 90px;
}


.selectUmidade{
  width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
 border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 45px;
}

.selectUmidade:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}


.selectVento{
width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
  border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 45px;
}

.selectVento:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}






.divTempo{
  width: 60%;
  height: 45px;
  background: #335c6c;
  border: 1px solid black;
    border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.imgsvg{
  position: absolute;
  left: 15px;
  height: 30px;
  width: 30px;
}