.divSelects{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.selectTemp{
    width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
    border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 90px;
}

.selectTemp:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}


.selectUmidade{
  width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
 border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 45px;
}

.selectUmidade:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}


.selectVento{
width: 60%;
  height: 45px;
  background: #204b5e;
  border: 1px solid black;
  border-radius: 8px 8px 0 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 45px;
}

.selectVento:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}

















.divDropDownPai{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.dropdown-container {
    position: relative;
    width: 100%;
  }
  
  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .dropdown-button {
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #204b5e;
    cursor: pointer;
    width: 60%;
    border-radius: 8px 8px 0px 0px ;
    height: 45px;
  }
  
  .dropdown-items {
    width: 56%;
    background-color: #204b5e;
    padding: 10px;
    border: 1px solid #204b5e;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    animation: slide-down 0.5s ease-out;
  }
  
  .dropdown-items a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  select {
    margin-left: 10px;
  }


  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }