.btnback{
    background: none;
    height: 27px;
    position: absolute;
    left: 70px;
    top: 45px;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.divgado{
    width: 100%;
    display: flex;
    justify-content: center;
}


.svgarrowleft path{
    width: 30px;
    fill: #204b5e;
    transition: transform 0.1s ease-in-out;
    stroke: #204b5e;
}

.ajustebtnback{
    position: relative;
    color: #204b5e;
}

.iconmanutencao path{
    fill: #204b5e;
}