*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin: 0;
    color: #204b5e;
}

::placeholder {
    color: white;
    opacity: 0.4;
}


.RetanguloPai {
    background: #e4ebf0;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: 2px solid black;
    height: 768px;
    width: 512px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.flechaDireita{
    width: 100%;
    height: auto;
}

.arrowRight{
    fill: white;
    stroke: white;
    stroke-width: 10px;
    transition: transform 0.5s ease-out;
}

.nameapp{
    margin-bottom: 30px;
}


