/* .load{
    display: flex;
    justify-content: center;
    margin: 200px auto;
}

.load div{
    width: 20px;
    height: 20px;
    background-color: #3a3953;
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two{
    animation-delay: 0.3s;
}

.load .three{
    animation-delay: 0.6s;
}

@keyframes up-and-down {
  
    to{
        opacity: 0.2;
        transform: translateY(-20px);
        
    }
}


OUTRO LOADER ^^^^^^^^

*/

.container {

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    width: 80px;
    height: 80px;
    border-top: 4px solid #3a3953;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  