body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  min-height: 97vh;
  min-width: 340px;

}

