.divInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* para compatibilidade com o Safari */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputpage3{
    width: 70%;
    height: 45px;
    background: #204b5e;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

input:focus {
    outline: none; /* remove a borda que aparece ao clicar */
    background-color: #204b5e; /* volta à cor de fundo original */
}

.btnaddproduto{
    width: 50%;
    height: 56px;
    background: #204b5e;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    box-sizing: border-box;
}

.btnback{
    background: none;
    height: 27px;
    position: absolute;
    left: 70px;
    top: 45px;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.svgarrowleft path{
    width: 30px;
    fill: #204b5e;
    transition: transform 0.1s ease-in-out;
    stroke: #204b5e;
}

.ajusteradio{
    display: none;
}

.dates {
    display: flex;
    width: 70%;
}
.date_between {
    width: 80px;
}