.btnback{
    background: none;
    height: 27px;
    position: absolute;
    left: 70px;
    top: 45px;
    border: none;
    transition: transform 0.1s ease-in-out;
}

.svgarrowleft{
    width: 30px;
    fill: white;
    transition: transform 0.1s ease-in-out;
    stroke: white;
}

.ajustebtnback{
    position: relative;
}