.btnCafe{
    border: 2px solid #204b5e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 160px;
    width: 160px;
    margin-bottom: 10%;
    transition: transform 0.1s ease-in-out;
}

.svgBtnCafe{
    width: 130px;
    height: 130px;
}

.btnGado{
    border: 2px solid #204b5e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 160px;
    width: 160px;
    transition: transform 0.01s ease-in-out;
}

.svgBtnGado{
    width: 130px;
    height: 130px;
}