.splash-screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e4ebf0;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}